# Environment variables
.env

# Python virtual environment
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
logs/

# Temporary files
temp/
tmp/

# Local development settings
*.sqlite3
*.db

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Unit test / coverage reports
.pytest_cache/
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.python-version
